// Fix for Roboto font path
$roboto-font-path: '../assets/';

$primary-color: color("pink", "accent-4");
$secondary-color: color("blue-grey", "lighten-1");

// Materialize styles
@import "materialize";

// ember-cli-materialize styles
@import 'ember-cli-materialize';

@import 'ember-power-select';

.leaflet-container {
  height: 500px;
}

.padded {
  padding: 0 0.75rem;
}
